POSTGRES_VERSION=16
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=collab
POSTGRES_PORT=5432

REDIS_VERSION=8-alpine
REDIS_PASSWORD=mysecret
REDIS_PORT=6379

MINIO_VERSION=latest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

RABBITMQ_VERSION=3-management
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672

PGADMIN_VERSION=latest
PGADMIN_PORT=8080
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin